auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=true
resolution-mode=highest
# Payload/Next occasionally need certain deps hoisted to the root node_modules
public-hoist-pattern[]=*payload*
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=@types*
