# dependencies
node_modules/

# next.js
.next/
out/
build/
dist/

# misc
*.tsbuildinfo
.DS_Store
Thumbs.db
*.log

# env (keep .env.example)
.env
.env.*
!.env.example

# editor
.idea/
.vscode/*
!.vscode/extensions.json

# vercel
.vercel
